@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@400;700&display=swap');
@import './croppie.scss';

$averia-font: 'Averia Sans Libre', cursive;
$regular: 400;
$bold: 700;
$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  // background-color: $primary-color;
  font-family: 'averia-bold';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
  margin: 0;
  padding-top: 110px;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #02172a,
    #022039,
    #012948,
    #013258,
    #013b68,
    #014072,
    #03457b,
    #064a85,
    #064c89,
    #064f8e,
    #075192,
    #075497
  );
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  .socials{
    display: flex;
    align-items: center;
    .link{
      display: flex;
      margin-right: 15px;
      img{
        width: 50px;
      }
    }
    #discord{
      filter: grayscale(1);
    }
  }
}
.wrap{
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  .main-title{
    text-align: center;
    font-family: $averia-font;
    font-size: 40px;
    font-weight: $regular;
    color: #ffd500;
    margin-bottom: 30px;
    span{
      font-size: 50px;
      font-weight: $bold;
    }
  }
}
.container {
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  text-align: center;
  max-width: 100%;
  width: 1400px;
  height: 670px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgba(6, 23, 38,.4);
  border-top-left-radius: 81px;
  border-bottom-right-radius: 81px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  .left{
    background: rgba(4, 23, 54, .55);
    border-top-left-radius: 81px;
    border-bottom-right-radius: 81px;
    border-top-right-radius: 39px;
    border-bottom-left-radius: 39px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .title{
      padding: 50px 0 30px;
      font-size: 30px;
      color: white;
      font-family: $averia-font;
      font-weight: $regular;
    }
    .frames{
      flex: 1 0 0;
      overflow: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      padding: 20px 0;
      margin-right: 20px;
      margin-bottom: 40px;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffd500;
        border-radius: 4px;
      }
      & > .frame-wrap{
        position: relative;
        width: 216px;
        height: 216px;
        border-radius: 50%;
        justify-self: right;
        box-shadow: 7px 6px 22px 0px rgba(0,0,0,0.3);
        -webkit-box-shadow: 7px 6px 22px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 7px 6px 22px 0px rgba(0,0,0,0.3);
        transition: .3s ease-in-out;
        &:nth-of-type(even){
          justify-self: left;
        }
        &:hover{
          transform: scale(1.03);
        }
        .bg{
          top: 0;
          left: 0;
          position: absolute;
          background-color: #3d8ed7;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 0;
          pointer-events: none;
        }
      }
      img{
        width: 100%;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }
    }
  }
}
.upload-container{
  width: 410px;
  height: 410px;
  position: relative;
  margin: 0 auto;
}
.upload{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  label {
    display: flex;
    cursor: pointer;
    transition: .3s ease-in-out;
    &:hover {
      filter: brightness(1.1);
      transform: scale(1.05);
    }
    img{
      width: 80px;
      height: 80px;
    }
  }
  input {
    visibility: hidden;
    display: none;
  }
}
.remove {
  z-index: 2;
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  #remove {
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: .3s ease-in-out;
    display: none;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.save{
  border: 0;
  background: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  transition: .3s ease-in-out;
  cursor: pointer;
  &:hover{
    filter: brightness(1.1);
  }
  img {
    width: 100%;
  }
  span {
    position: absolute;
    font-size: 18px;
    font-family: $averia-font;
    font-weight: $regular;
  }
}
#vanilla {
  border: 2px solid #ffd500;
  border-radius: 50%;
  width: 410px;
  height: 410px;
  margin: 0 auto;
  &.active{
    border: 0;
  }
}

.color-layer{
  display: none;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: right;
  top: 22px;
  position: absolute;
  right: -70px;
  .opacity-input{
    margin-right: 12px;
  }
  #delete{
    width: 20px;
    height: 20px;
    margin-right: 9px;
    cursor: pointer;
  }
}

.blur{
  width: 490px;
  height: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to top, rgba(0,0,0, 0), #083660 100%);
  z-index: 3;
  &.top{
    top: 117px;
    border-radius: 0 0 10px 10px;
  }
  &.bottom{
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0), #052c4f 100%);
    border-radius: 10px 10px 0 0;
    bottom: 40px;
  }
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 32px;
	height: 32px;
	border: none;
  cursor: pointer;
}
#color-picker-wrapper {
	float: left;
  border-radius: 4px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.stars-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.star {
  position: fixed;
  width: 8px;
  height: 9px;
  background: white;
  border-radius: 50%;
  transition: 1.5s ease-in-out;
}